body, html {
	margin: 0;
	background-color:aliceblue;
}

img {
	pointer-events: none;
}

.chess-board-columns {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	column-gap: 0;
	row-gap: 0;
	max-width: 800px;
}

.square-holder {
	position: relative;
	width: 100%;
	margin-bottom: -4px;
}

.square-image {
	width: 100%;
}

.piece-image {
	z-index: 1;
	position: absolute;
	width: 100%;
}

.pawn-image {
	width: 100%;
}